// Imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

// Fonts
$font1: "Montserrat", sans-serif;

// Colors
$color0: #ffffff;
$color1: #e56b9f;
$color2: #2e2d50;
$color3: #ec743a;
$color4: #faf3e3;
$color5: #000000;
$color6: #474663;
$color7: #58b12e;
$color8: #405068;
