@import "./variables";
@import "./animations";

.blogHome{
	&__title{
		max-width: 800px;
		margin: auto;
		font-size: 2rem;
		color: $color5;
		font-weight: 600;
		opacity: 0.7;
		text-align: center;
		margin-top: 30px;
	}

	&__subtitle{
		background: $color4;
		margin-top: 20px;
		width: 100%;
	}

	&__subtitleContainer{
		max-width: 800px;
		margin: auto;
		display: flex;
		height: 100px;
		div:nth-child(1) {
			width: 70%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			text-align: end;
			padding: 15px;
			box-sizing: border-box;
		}
		
		div:nth-child(2) {
			width: 30%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__fullView{
		max-width: 1100px;
		margin: auto;
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
	}

	&__viewCard{
		width: 50%;
	}
}

.blogCard {
	display: flex;
	width: 95%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;

	&__image {
		width: 40%;
		img {
			border-radius: 5px;
			width: 100%;
		}
	}

	&__text {
		padding-left: 10px;
		width: 60%;
	}

	&__title {
		font-size: 0.9rem;
		display: -webkit-box;
		max-width: 200px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		color: $color5;
		font-weight: 600;
		opacity: 0.7;
	}

	&__timestamp {
		display: flex;
		color: $color6;
		opacity: 0.5;
		font-weight: 500;
		font-size: 0.6rem;
		justify-content: space-between;
		margin-top: 4px;
		margin-bottom: 4px;
	}

	&__subtitle {
		font-size: 0.7rem;
		text-align: justify;
		display: -webkit-box;
		max-width: 200px;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-weight: 300;
	}
}

.blogContainer {
	height: max-content;
	max-width: 1000px;
	margin: auto;

	&__readProgress {
		position: sticky;
		height: 5px;
		top: 0;
		background-color: $color1;
	}

	&__socialShares {
		display: flex;
		background: $color4;
		width: 100%;
		padding: 20px;
		justify-content: center;
		div {
			margin-right: 15px;
		}
	}

	&__liveCardDiv{
		display: flex;
	}

	&__liveCard {
		background: $color4;
		display: flex;
		width: 100%;
		padding: 20px;
		margin: auto;
		justify-content: center;
		align-items: center;
		div {
			margin-right: 20px;
			font-size: 0.8rem;
		}
	}

	&__liveCardLine {
		display: flex;
		justify-content: center;
		align-items: center;
		div {
			margin-right: 5px;
			font-size: 1.2rem;
		}
	}

	&__liveCardButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		button {
			all: unset;
			height: 30px;
			background: $color0;
			border: 2px solid $color2;
			width: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			&:active {
				opacity: 0.6;
			}
		}
	}

	&__socialSharesTitle {
		width: 40%;
	}

	&__publishedTitle {
		max-width: 800px;
		margin: auto;
		width: 100%;
		margin-top: 50px;
		font-weight: 500;
		display: flex;
		justify-content: space-evenly;
		color: $color6;
		opacity: 0.5;
		div {
			display: flex;
			align-items: center;
		}
	}

	&__blogTitle {
		max-width: 800px;
		margin: auto;
		font-size: 2.4rem;
		font-weight: 700;
		text-align: center;
		margin-top: 10px;
	}

	&__blogSubTitle {
		max-width: 800px;
		margin: auto;
		font-weight: 500;
		font-size: 1.1rem;
		text-align: center;
		margin-top: 10px;
		color: $color6;
		opacity: 0.7;
	}

	&__blogKeywords {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	&__blogKwd {
		margin-right: 20px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 0.8rem;
		background: $color4;
		color: $color5;
		font-weight: 500;
	}

	&__blogBigImage {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		img {
			width: calc(100% + 80px);
			border-radius: 8px;
		}
	}

	&__blogBigHeadline {
		max-width: 800px;
		margin: auto;
		font-size: 1.4rem;
		opacity: 0.8;
		font-weight: 600;
		margin-top: 20px;
	}

	&__blogContent {
		max-width: 800px;
		margin: auto;
		font-size: 1.1rem;
		opacity: 0.8;
		font-weight: 400;
		margin-top: 20px;
		color: $color5;
		margin-bottom: 20px;
		word-break: break-word;
	}
}

@media only screen and (max-width: 768px) {
	.blogHome {

		&__fullView {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
		}
	
		&__viewCard {
			width: 95%;
			margin: auto;
		}
	}
	.blogContainer {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__liveCardDiv {
			display: block;
		}
		
		&__liveCardLine {
			div {
				font-size: .8rem;
			}
		}
		
		&__liveCardButton {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		
			button {
				all: unset;
				height: 30px;
				background: $color0;
				border: 2px solid $color2;
				width: 70%;
				display: flex;
				justify-content: center;
				align-items: center;
		
				&:active {
					opacity: 0.6;
				}
			}
		}

		&__blogBigImage {
			img {
				width: 100%;
			}
		}

		&__publishedTitle {
			font-size: 0.9rem;
			display: block;
			div {
				justify-content: center;
			}
		}

		&__blogTitle {
			font-size: 1.7rem;
		}

		&__blogSubTitle {
			font-size: 0.8rem;
		}

		&__blogKeywords {
			flex-wrap: wrap;
			width: 97%;
		}

		&__blogKwd {
			margin-bottom: 10px;
			font-size: 0.7rem;
			margin-right: 10px;
			font-weight: 300;
		}

		&__blogBigHeadline {
			font-size: 1.1rem;
			font-weight: 500;
			width: 95%;
			text-align: justify;
		}

		&__blogContent {
			width: 95%;
			font-size: 1.1rem;
		}
	}
}
