@import url("https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@100;300;400;500;600;700;800;900&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat Alternates", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--color0: #ffffff;
	--color1: #e56b9f;
	--color2: #2e2d50;
	--color3: #ec743a;
	--color4: #faf3e3;
	--color5: #000000;
	--color6: #474663;
	--color7: #58b12e;
	--color8: #405068;
	--color9: #b4b5ba;
}

* {
	box-sizing: border-box;
} /*# sourceMappingURL=globals.css.map */

.lds-facebook {
	display: inline-block;
	position: absolute;
}
.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}
@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 50px;
	}
	50%,
	100% {
		top: 24px;
		height: 20px;
	}
}

.watermarked {
	position: relative;
	overflow: hidden;
	color: var(--color6);
}

.watermarked img {
	width: 100%;
}

.watermarked::before {
	position: absolute;
	top: 56%;
	left: -20%;
	display: block;
	height: 250%;
	width: 260%;
	transform: rotate(-11deg);
	content: attr(data-watermark);
	opacity: 0.7;
	line-height: 50px;
	font-size: 24px;
	letter-spacing: 6px;
	color: var(--color6);
	font-weight: 400;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.privacyPolicy {
	padding: 50px;
}

@media only screen and (max-width: 768px) {
	.watermarked::before {
		font-size: 10px;
		line-height: 25px;
	}

	.privacyPolicy {
		padding: 15px;
	}
}



canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#canvasHolder{
    position: relative;
}

#img-sequencer{
    /* position: fixed; */
    top: 0;
    left: 0;
    margin-top: -50px;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #faf3e3 75.57%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.createLink{
    position: absolute;
    top: 10px;
    width: 95%;
    margin: auto;
    height: 40px;
    border-radius: 4px;
    border: 2px solid;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.createLink:hover {
    opacity: 0.5;
}

@keyframes fader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.profileHolder{
    margin-left: 20px !important;
    animation: fader 1200ms ease infinite;
}

.profileIcon{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    top: 20%;
}

.nameHolder{
    position: absolute;
    bottom: 96px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* transform: rotate(352deg); */
    
    text-align: center;
}

.arrowDown{
    position: absolute;
    bottom: 250px;
    right: 10px;
    width: 190px;
    transform: rotate(100deg);
}

.scrollmagic-pin-spacer{
    margin-top: -100px;
}

.keepScrolling{
    position: absolute;
    background: white;
    width: 100%;
    top: 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: -50px;
    
}

.keepScrolling-line{
    border-bottom: 1px solid white;
    margin-right: 10px;
    padding-left: 50%;
}

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
}

.section-3 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}