// Imports
@import "./variables";

.livePage{
    input[type=checkbox] {
        height: 0;
        width: 0;
        margin-left: 5px;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 40px;
        height: 100%;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    label:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: var(--color1);
    }

    input:checked+label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 40px;
    }
}